<div class="container">
  <h1 class="title is-1">Nueva imagen del slider</h1>
</div>

<div class="container">

    <%= form_for @slider do |f| %>
      <% if @slider.errors.any? %>
              <div class="columns">
                 <div class="column" id="error_explanation">
                    <h2><%= pluralize(@slider.errors.count, "error") %> guardando slider:</h2>
                    <ul>
                    <% @slider.errors.full_messages.each do |msg| %>
                       <li><%= msg %></li>
                    <% end %> 
                    </ul>
                 </div>
              </div>
         <% end %>   

         <div class="field formulario">
            <div class="columns">
               <div class="column">
                     <%= f.label :name, 'Nombre', class: 'label' %>
               </div>
            </div>
            <div class="columns">
               <div class="column">
                     <%= f.text_field :name, class: 'input' %>
               </div>
            </div>  
         </div>  
           
         <div class="field formulario">
              <div class="columns">
                 <div class="column is-1">
                    <%= f.label :images, 'Imagen', class: 'label' %>
                 </div>
                 <div class="column">
                    <%= f.file_field :images, multiple: true %>
                 </div>
              </div>  
         </div>
            
         <div class="field boton_form">
             <div class="columns">
                 <div class="column">
                     <%= f.submit 'Enviar' %>
                 </div>
             </div>
         </div>
     <% end %>     

</div>