<div class="columns is-multiline is-mobile">
   <% @store.products.order(created_at: :desc).each do |product| %>
      <div class="column is-3-desktop is-6-tablet is-12-mobile producto">
         <%= link_to store_product_path(@store, product) do %>
            <div class="imagen has-text-centered">
               <% if product.image.attached? %>               
                  <%= image_tag(product.image, alt: 'Imagen') %>
               <% end %>
            </div>
            <div class="nombre has-text-centered">
               <h3 class="title is-4"><%= product.name %></h3>
               <% if product.sizes.present? %>
                  <p class="is-size-4"><%= product.sizes.first.price %> € </p>
               <% else %>               
                  <p class="is-size-4">Falta talla </p>
               <% end %>
               <p><%= product.state %></p>
            </div>
         <% end %>
      </div> 
   <% end %>
</div>