<div class="container">
   <h1 class="title is-1"> Tiendas registradas</h1>
</div>

<div class="container">
  <%= link_to 'Volver', stores_path, class: 'button is-primary' %>

   <table class="table is-bordered has-text-centered tiendas">
      <tr>
         <th>Nombre</th>
         <th colspan="3">Opciones</th>
      </tr>

      <% @stores.each do |store| %>
         <tr>
            <td><%= store.name %></td> 
            <td><%= link_to 'Mostrar', store_products_path(store) %></td>
            <td><%= link_to 'Modificar', edit_store_path(store) %></td> 
            <td><%= link_to 'Eliminar', store_path(store), method: :delete, data: {confirm: 'Estas seguro?'} %></td> 
         </tr>
      <% end %>
   </table>
</div>