<div class="container">
  <h1 class="title is-1"><%= @store.name %></h1>
  <h2 class="subtitle is-3">Productos</h2>
</div>

<div class="container">

  <button class="button is-primary"><%= link_to 'Volver', stores_path %></button>
  <button class="button is-primary"><%= link_to 'Modificar tienda', edit_store_path(@store) %></button>
  <button class="button is-primary"><%= link_to 'Eliminar tienda', store_path(@store), method: :delete, data: {confirm: 'Estas seguro?'} %></button>
  <button class="button is-primary"><%= link_to 'Nuevo producto', new_store_product_path(@store) %></button>
</div>

<div class="container productos">
  <%= render 'stores/products' %>
</div>