<div class="container">
  <div class="slider" data-controller="slideshow" data-slideshow-current-slide-class="slide--current">
    <% if @sliders.count > 0 %>
      <% @sliders.first(4).each do |slide| %>  
        <% if slide.image.attached? %>
          <div class="slide" data-slideshow-target="slide">
              <%= image_tag(slide.image, alt: slide.name) %>
          </div>
        <% else %>
          <div class="slide" data-slideshow-target="slide">
              <%= image_tag("noimage.jpg", alt: 'Imagen') %>
          </div>
        <% end %>
      <% end %>
    <% else 4.times%>
      <div class="slide" data-slideshow-target="slide">
            <%= image_tag("noimage.jpg", alt: 'Imagen') %>
      </div>
    <% end %>
    <div class="flecha izq is-clickable" data-action="click->slideshow#previous"><%= show_svg('chevron-double-left.svg') %></div>
    <div class="flecha der is-clickable" data-action="click->slideshow#next"><%= show_svg('chevron-double-right.svg') %></div>
  </div>
</div>
     
<div class="container productos">
   
   <div class="columns is-multiline is-mobile">
      <% @products.first(8).each do |product| %>      
          <% if product.state == 'publicado' %>
            <div class="column is-3-desktop is-6-tablet is-12-mobile producto">
              <%= link_to producto_path(product) do %>
                <div class="imagen has-text-centered">
                  <% if product.images.attached? %>
                    <% if product.images.where(main: true).count > 0 %>
                      <% product.images.each do |image| %> 
                        <% if image.main == true %>   
                          <%= image_tag(image.variant(:medium), alt: product.name) %>
                        <% end %>
                      <% end %>
                    <% else %>
                        <%= image_tag(product.images.first.variant(:medium), alt: product.name) %>
                    <% end %>
                  <% else %>
                      <%= image_tag("noimage.jpg", alt: 'Imagen') %>
                  <% end %>  
                </div>
                <div class="nombre has-text-centered">
                  <h3 class="title is-4"><%= product.name %></h3>
                  <% if product.sizes.present? %>
                      <p>Precio: <span data-hello-target="aparece"><%= product.sizes.first.price %></span> €</p>
                  <% else %>               
                      <p class="is-size-4"> . </p>
                  <% end %>
                </div>
                <% end %>
            </div> 
          <% end %>
      <% end %>
    </div>
</div>