<div class="container">
   <h1 class="title is-1"><%= @product.name %></h1>
   <h2 class="subtitle is-3"><%= @store.name %></h2>
</div>   

<div class="container">
   <%= link_to 'Volver a tienda', tienda_path(@store), class: 'button is-primary' %>
</div>

<% if @product.state == 'publicado' %>
   <div class="container">   
      <div class="columns is-multiline is-mobile">      
            <div class="column is-6-desktop is-12-mobile is-6-tablet pag producto has-text-centered">
               <div data-controller="hello" class="columns is-multiline is-mobile">
                  <div class="column is-12-desktop is-12-mobile is-12-tablet imagen">
                     <% if @product.images.attached? %>
                        <% if @product.images.where(main: true).count > 0 %>
                           <% @product.images.each do |image| %> 
                              <% if image.main == true %>   
                                 <%= image_tag(image, alt: @product.name, data: {target: "hello.imageap" }) %>
                              <% end %>
                           <% end %>
                        <% else %>
                           <%= image_tag(@product.images.first, alt: @product.name) %>
                        <% end %>
                     <% else %>
                     <%= image_tag("noimage.jpg", alt: 'Imagen') %>
                     <% end %>  
                  </div>
                  <div class="column is-12-desktop is-12-mobile is-12-tablet miniaturas">
                     <% if @product.images.attached? %>    
                        <% @product.images.each do |image| %>           
                           <%= image_tag(image, alt: @product.name, class: "is-clickable", data: {action: "click->hello#hola", target: "hello.image" }) %>
                        <% end %>
                     <% end %>
                  </div>
               </div>
            </div>   
            <div class="column is-6-desktop is-12-mobile producto desc has-text-left">               
               <p class="is-size-6">Código de producto: <%= @product.sku %></p>
               <p class="is-size-6">Descripción: <span class="desc_producto"><%= @product.description %></span></p>
               <%= form_for([@store, @product]) do |f| %>  
                  <% if @product_sizes.present? %>
                     <div data-controller="hello" class="field formulario">            
                           <%= f.label :name, 'Talla' %>
                           <%= select_tag 'sizes', options_for_select(@product_sizes.collect{ |u| [u.name, u.price] }), data: {action: "change->hello#precios", target: "hello.valor" } %>
                           <p>Precio: <span data-hello-target="aparece"><%= @product_sizes.first.price %></span> €</p>
                        </div>
                        <div class="field boton_form">
                           <%= f.submit 'Comprar' %>        
                        </div>
                  <% end %>
               <%end%>               
               <% if @category_product.count > 0 %>
                  <div>
                     <p class="is-size-6">Categorías:
                     <% @category_product.each do |categoria| %> 
                        <span class="is-size-7"><%=categoria.category.name %></span>
                     <% end %>
                     </p>
                  </div>
               <% end %>
            </div>
      </div>
   </div>
<% end %>