<div class="container">
  <h1 class="title is-1">Productos</h1>
</div>

<div class="container">
  <div class="columns is-multiline is-mobile">
      <div class="column is-12">
        <%= link_to 'Volver a inicio', root_path, class: 'button is-primary' %>
      </div>
  </div>
  <% if @categories.count > 0%>
    <%= form_for "", :html => { :class => 'form_filtro' }, :method => :get do |f| %>
      <div class="columns is-multiline is-mobile">
        <div class="column is-1-desktop is-3-tablet is-3-mobile">
            <%= f.label :category_id, 'Categorías', class: 'label' %>    
        </div>
        <div class="column is-1-desktop is-3-tablet is-3-mobile select_form">
          <%= f.select 'category_id', options_for_select(@categories.collect{ |u| [u.name, u.id] }) %>  
        </div>
        <div class="column is-1-desktop is-3-tablet is-3-mobile boton_form">
            <%= f.submit 'Enviar' %>
        </div>
      </div>
    <% end %>          
  <% end %>
</div>

<div class="container productos">
  <div class="columns is-multiline is-mobile">
   <% @products.each do |product| %>
      <% if product.state == 'publicado' %>
        <div class="column is-3-desktop is-6-tablet is-12-mobile producto">
          <%= link_to producto_path(product) do %>
              <div class="imagen has-text-centered">
                <% if product.images.attached? %>
                  <% if product.images.where(main: true).count > 0 %>
                    <% product.images.each do |image| %> 
                      <% if image.main == true %>   
                        <%= image_tag(image.variant(:medium), alt: product.name) %>
                      <% end %>
                    <% end %>
                  <% else %>
                      <%= image_tag(product.images.first.variant(:medium), alt: product.name) %>
                  <% end %>
                <% else %>
                    <%= image_tag("noimage.jpg", alt: 'Imagen') %>
                <% end %> 
              </div>
              <div class="nombre has-text-centered">
                <h3 class="title is-4"><%= product.name %></h3>
                <% if product.sizes.present? %>
                    <p>Precio: <span data-hello-target="aparece"><%= product.sizes.first.price %></span> €</p>
                <% else %>               
                    <p class="is-size-4"> . </p>
                <% end %>
              </div>
          <% end %>
        </div> 
      <% end %>
   <% end %>
</div>

</div>