<%= form_for([@product]) do |f| %>
   <% if @product.errors.any? %>
         <div class="columns">
            <div class="column" id="error_explanation">
               <h2><%= pluralize(@product.errors.count, "error") %> guardando producto:</h2>
               <ul>
               <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
               <% end %> 
               </ul>
            </div>
         </div>
    <% end %>  
    
    <div class="field formulario">
        <div class="columns">
            <div class="column">
                <%= f.label :name, 'Nombre', class: 'label' %>
            </div>
        </div>
         <div class="columns">
               <div class="column">
                  <%= f.text_field :name, class: 'input' %>
               </div>
         </div>
    </div> 

    <div class="field formulario">
        <div class="columns">
            <div class="column">
                <%= f.label :sku, 'Código de producto', class: 'label' %>
            </div>
        </div>
         <div class="columns">
               <div class="column">
                  <%= f.text_field :sku, class: 'input' %>
               </div>
         </div>
    </div> 

    <div class="field formulario">
        <div class="columns">
            <div class="column">
                <%= f.label :description, 'Descripción', class: 'label' %>
            </div>
        </div>
         <div class="columns">
               <div class="column">
                  <%= f.rich_text_area :description, class: 'textarea' %>
               </div>
         </div>
    </div>    
    
    <div class="field formulario">
        <div class="columns is-multiline is-mobile">
            <div class="column is-12">
                <%= f.label :state, 'Categorias', class: 'label' %>
            </div>
            <div class="column is-12">
                <div class="columns is-multiline is-mobile">
                    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
                        <% b.label(class: "checkbox column is-2-desktop is-4-tablet is-6-mobile") {b.check_box + b.text } %>
                    <% end %>
                </div>
            </div>
        </div>  
    </div> 

    <div class="field formulario">
        <div class="columns">
            <div class="column is-1">
                <%= f.label :state, 'Estado', class: 'label' %>
            </div>
            <div class="column">
               <%= f.select :state, ['publicado', 'oculto'] %>
            </div>
        </div>  
    </div> 
       
    <div class="field boton_form">
        <div class="columns">
            <div class="column">
                <%= f.submit 'Enviar' %>
            </div>
        </div>
    </div>
<% end %> 
