<div class="columns is-multiline is-mobile">
   <% @product_sizes.each do |size| %>
      <div class="column is-12 tallas has-text-left">
         <div class="talla">
            <p class="is-size-6"><b>Talla: </b><%= size.name %></p>
         </div>
         <div class="referencia">
            <p class="is-size-6"><b>EAN: </b><%= size.ean %></p>
         </div>
         <div class="stock">
            <p class="is-size-6"><b>Stock: </b><%= size.stock %></p>
         </div>            
         <div class="precio">
            <p class="is-size-6"><b>Precio: </b><%= size.price %> €</p>
         </div>           
         <div class="opciones">
            <p class="is-size-6">
               <%= link_to 'Modificar talla', edit_product_size_path(@product, size) %> | 
               <%= link_to 'Eliminar talla', product_size_path(@product, size), method: :delete, data: {confirm: 'Estas seguro?'} %>
            </p>
         </div>
         <hr style="background-color: black;">
      </div>
   <% end %>
</div>