<nav data-controller="hello" data-hello-display-class="display" class="navbar is-fixed-top menu" role="navigation" aria-label="main navigation">
  <div  class="navbar-brand">
    <div class="navbar-item">
      <%= link_to root_path do %>
        <%= image_tag("https://bulma.io/images/bulma-logo.png", alt: 'Bulma: a modern CSS framework based on Flexbox') %>
      <% end %>
    </div>
    <div class="navbar-burger" data-action="click->hello#menumovil">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div data-hello-target="hide" class="navbar-menu">
    <div class="navbar-start">
        <div class="navbar-item">
          <%= link_to 'Inicio', root_path %>
        </div>
        <div class="navbar-item">
          <%= link_to 'Productos', productos_path %>
        </div>
        <% if user_signed_in?%> 
          <% if current_user.is_admin? %>       
            <div class="navbar-item">
              <%= link_to 'Categorías', categories_path %>
            </div> 
            <div class="navbar-item">
              <%= link_to 'Admin Productos', products_path %>
            </div>    
            <div class="navbar-item">
              <%= link_to 'Slider', sliders_path %>
            </div>
          <% end %>
            <div class="navbar-item">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to 'Log in', new_user_session_path %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Registro', new_user_registration_path %>
          </div>
        <%end%>
    </div>
    <% if user_signed_in? %>      
      <div class="navbar-end">
        <div class="navbar-item cesta">
          <%= link_to show_svg('shopping-bag.svg'), cart_path %>
        </div>
      </div>
    <% end %>
  </div>
</nav>